/*google fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');


/*styles to override browser*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*general styles*/
body {
    min-height: 100vh;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    color: black;
    font-family: 'Roboto Mono';
    background-image: url(../images/headerimage.png);
    background-repeat: round;
    background-size: 100px;
}

main {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
}

h1 {
    font-family: 'Fjalla One'; 
}

/*styles for header*/
header {
    height: 10vh;
    width: 100vw;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header {
    display: flex;
    border: 2px solid black;
    border-radius: 12px;
    background: gainsboro;
    padding: 1rem;
}


/*styles for main content*/
#content {
    margin: 0.5rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#how-to-container {
    border: 2px solid black;
    border-radius: 12px;
    margin: 0.5rem 1rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    background: gainsboro;
}

#how-to-container > h3 {
    align-self: center;

}

/*media query for tablets*/
@media screen and (min-width: 768px) {
/*body styles for tablets*/
    body{
        font-size: 150%;
    }

    header{
        height: 15vh;
        padding: 2rem;
    }
}

/*media query for small laptops*/
@media screen and (min-width: 992px){
    header{
        height: 15vh;
    }
}

@media screen and (min-width: 1200px){

}