/*styles to override browser*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*general styles*/
body {
    min-height: 100vh;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    color: black;
}

main {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    background: coral;
}

/*styles for header*/
header {
    height: 10vh;
    width: 100vw;
    padding: 1rem;
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*media query for tablets*/
@media screen and (min-width: 768px) {
/*body styles for tablets*/
    body{
        font-size: 150%;
    }

    header{
        height: 15vh;
        padding: 2rem;
    }
}